.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--font-geist-mono, monospace);
	font-size: 16px;
	line-height: 24px;
}

.nav ul {
	padding-left: 0;
	margin: 0;
	font-size: 14px;
	list-style-position: inside;
	list-style-type: none;
	display: flex;
	gap: 16px;
}
